<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLSV.My.MySettings.ConnectionString" connectionString="Provider=SQLOLEDB.1;Data Source=DESKTOP-KO01S03\SQLEXPRESS;Password=123;User ID=sa;Initial Catalog=Quanlydiem"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>